.page-header .title {
	font-size: 3em;
	font-family: 'Josefin Slab', serif;
}

.page-header .btn {
	margin-right: 10px;
}

.ad-list h2 {
	font-family: 'Josefin Slab', serif;
}

.ad-list .filter {
	margin: 0px 5px 25px 0px;
}

.ad {
	border: 1px solid #adadad;
	float: left;
	width: 30%;
	padding: 10px 10px 10px 10px;
	margin: 5px;
	border-radius: 5px;
	min-width: 300px;
	min-height: 300px;
}

.ad .title {
	font-size: 1.3em;
}

.ad .main {
	min-height: 140px;
	max-height: 140px;
	overflow-y: auto
}

.ad .main img {
	width: 40px;
}

.ad .contact {
	background-color: f5f5f5;
	border-radius: 5px;
	margin: -5;
	overflow: hidden;
	margin-top: -9px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ad .contact .title{
	margin: 36px;
}	

.ad ul { 
	list-style-type: none; 
}

.new-ad form {
	max-width: 480px;
}
