<div class="ad">
	<div class="main">
		<span class="title">{{ad.title}}</span>
		<img data-category={{ad.category}} class="pull-right" src={{ad.icon}}>
		<p>
			<div>{{ad.description}}</div>
		</p>
		<p>
			<div ng-show={{ad.price}}>Price: {{ad.price | number}} :- </div>
		</p>
	</div>
	<hr>
	<div class="contact">
		<span class="title">Contact information</span> 
		<ul>
			<li>Email: {{ad.contact.email}}</li>
			<li>Phone: {{ad.contact.phone}}</li>
			<li>City: {{ad.contact.city}}</li>
		</ul>
	</div>
</div>
